.ant-btn-group > .ant-btn:last-child:not(:first-child), .ant-btn-group > span:last-child:not(:first-child) > .ant-btn {
    border: none;
    background-color: #f0f2f5;
}

.ant-btn-group > .ant-btn:hover {
    color: #5b0574;
}

.ant-page-header {
    background-color: #f0f2f5 !important;
    position: inherit !important;
}
