#login_email, #login_password {
    background-color: #f3f3f3;
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    height: auto;
    background-color: #ffeca8;
}
button.ant-btn.login-form-button:hover {
    background: #ffeca8;
    color: black;
    border-color: black;
}
.login-input {
    background-color: #f3f3f3;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
}

/*[ Header ]
///////////////////////////////////////////////////////////
*/
.header1 {
    height: 125px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .fixed-header {height: 110px;}


  /*[ Header Desktop ]
  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

  .container-menu-header {
    width: 100%;
    top: 0;
    left: 0;
    // position: fixed;
    z-index: 1100;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  }

  /*[ Top bar ]
  ===========================================================*/
  .topbar {
    height: 45px;
    background-color: #f5f5f5;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* ------------------------------------ */

  .topbar-social {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 30px;
    margin-top: -8px;
  }

.topbar-social a {
    color: black;
}

  .topbar-social-item {
    font-size: 18px;
    color: #888888;
    padding: 10px;
  }

  /* ------------------------------------ */
  .topbar-email,
  .topbar-child1 {
    // font-family: Montserrat-Regular;
    font-size: 13px;
    color: #888888;
    line-height: 1.7;
  }

  /* ------------------------------------ */
  .topbar-child2 {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 38px;
  }


  /*[ Menu ]
  ===========================================================*/
  .wrap_header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .fixed-header .wrap_header {
    height: 65px;
  }


  /*[ Logo ]
  -----------------------------------------------------------*/
  .logo {
    display: block;
    position: absolute;
    left: 52px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .logo img {
    max-height: 27px;
  }


  /*[ Menu ]
  -----------------------------------------------------------*/
  .main_menu {
    list-style-type: none;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .main_menu > li {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main_menu > li > a {
    // font-family: Montserrat-Regular;
    font-size: 15px;
    color: #333333;
    padding: 0;
    border-bottom: 1px solid transparent;
  }

  li.sale-noti > a {
    color: #e65540;
  }

  .main_menu > li:hover > a {
    text-decoration: none;
    border-bottom: 1px solid #333333;
  }

  .main_menu li {
    position: relative;
  }

  .main_menu > li:hover > .sub_menu {
    visibility: visible;
    opacity: 1;
  }

  .sub_menu {
    list-style-type: none;
    position: absolute;
    z-index: 1100;
    top:0;
    left:100%;
    width: 225px;
    background-color: #222222;
    opacity: 0;
    visibility: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }

  .main_menu > li > .sub_menu {
    top:100%;
    left: 0;
    position: absolute;
  }

  .sub_menu li:hover > .sub_menu {
    visibility: visible;
    opacity: 1;
  }

  .sub_menu li {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }

  .sub_menu li, .sub_menu a {
    padding: 10px;
    // font-family: Montserrat-Regular;
    font-size: 13px;
    color: white;
  }

  .sub_menu > li:hover > a {
    color: #e65540;
    text-decoration: none;
  }

  /* ------------------------------------ */
  .header-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    right: 52px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .header-wrapicon1,
  .header-wrapicon2 {
    height: 27px;
    position: relative;
  }

  .header-wrapicon1 img,
  .header-wrapicon2 img {
    height: 100%;
  }

  .header-icon1:hover,
  .header-icon2:hover {
    cursor: pointer;
  }

  .header-icons-noti {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #111111;
    color: white;
    font-family: Montserrat-Medium;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: -10px;
  }

  .linedivide1 {
    display: block;
    height: 20px;
    width: 1px;
    background-color: #e5e5e5;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 5px;
  }

  /*[ Header cart ]
  -----------------------------------------------------------
  */
  .header-cart {
    position: absolute;
    z-index: 1100;
    width: 339px;
    top: 190%;
    right: -10px;
    padding: 20px;
    border-top: 3px solid #e6e6e6;
    background-color: white;

    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;

    transform-origin: top right;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  .show-header-dropdown {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .fixed-header .header-cart {
    top: 160%;
  }

  .header-cart-wrapitem {
    max-height: 270px;
    overflow: auto;
  }

  .header-cart-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  /* ------------------------------------ */
  .header-cart-item-img {
    width: 80px;
    position: relative;
    margin-right: 20px;
  }

  .header-cart-item-img img {
    width: 100%;
  }

  .header-cart-item-img::after {
    content: '\e870';
    font-family: Linearicons;
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    opacity: 0;
  }

  .header-cart-item-img:hover:after {
    cursor: pointer;
    opacity: 1;
  }

  /* ------------------------------------ */
  .header-cart-item-txt {
    width: calc(100% - 100px);
  }

  .header-cart-item-name {
    display: block;
    // font-family: Montserrat-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.3;
    margin-bottom: 12px;
  }

  .header-cart-item-info {
    display: block;
    // font-family: Montserrat-Regular;
    font-size: 12px;
    color: #888888;
    line-height: 1.5;
  }

  .header-cart-total {
    // font-family: Montserrat-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.3;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 3px;
  }
  /* ------------------------------------ */
  .header-cart-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .header-cart-wrapbtn {
    width: calc((100% - 10px) / 2);
  }



  /*[ Header Mobile ]
  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  .wrap_header_mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    width: 100vh;
    // display: none;
  }

  /*[ Logo mobile ]
  -----------------------------------------------------------*/
  .logo-mobile {
    display: block;
  }

  .logo-mobile img {
    max-height: 27px;
  }

  /*[ btn show menu ]
  -----------------------------------------------------------*/
  .btn-show-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .hamburger {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    margin-top: 5px;
  }


  /*[ Header icon mobile ]
  -----------------------------------------------------------*/
  .header-icons-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  .linedivide2 {
    display: block;
    height: 20px;
    width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .header-icons-mobile .header-cart {
    width: 300px;
    top: 190%;
    right: -80px;
    z-index: 1100;
    transform-origin: top right;
  }

  /*[ Menu mobile ]
  -----------------------------------------------------------*/
  .wrap-side-menu {
    width: 100%;
    background-color: white;
    // display: none;
    border-top: 1px solid #ececec;
  }

  .side-menu {
    width: 100%;
  }

  .side-menu li {
    list-style-type: none;
  }

  .side-menu .main-menu {margin-bottom: 0;}

  .item-menu-mobile {
    background-color: #e65540;
  }

  .side-menu .main-menu > li > a {
    padding-left: 20px;
    // font-family: Montserrat-Regular;
    font-size: 15px;
    color: white;
    line-height: 2.86;
  }

  .side-menu .main-menu > li {
    color: white;
    position: relative;
  }


  .side-menu .main-menu .arrow-main-menu {
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 5px;
    padding: 10px;
    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -moz-transition: all 0.4s !important;
    transition: all 0.4s !important;
  }

  .side-menu .main-menu .arrow-main-menu:hover {
    cursor: pointer;
  }

  .turn-arrow {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .side-menu .sub-menu a {
    padding-left: 20px;
    // font-family: Montserrat-Regular;
    font-size: 13px;
    color: #333333;
    line-height: 2.5;
  }

  .side-menu .sub-menu > li {
    padding-left: 12px;
    // padding-top:
  }

  .side-menu .sub-menu a:hover {
    text-decoration: none;
    padding-left: 20px;
    color: #e65540 !important;
  }

  .side-menu .sub-menu {
    background-color: white;
    // display: none;
  }

//   @media (min-width: 992px){
//     .wrap-side-menu {
    //   display: none;
//     }
//   }

  /* ------------------------------------ */
  .item-topbar-mobile {
    border-bottom: 1px solid #ececec;
  }

  .topbar-child2-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .topbar-social-moblie {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.bg-title-page {
    width: 100%;
    min-height: 239px;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    background-image: url('../../assets/images/heading-pages-login.jpg');
}

.flex-col-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-t-40 {
    padding-top: 40px;
}

.l-text2 {
    font-family: Montserrat-Bold;
    font-size: 50px;
    color: white;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}


/*[ Footer Desktop ]
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.bg6 {
    background-color: #f0f0f0;
}

.p-r-45 {
    padding-right: 45px;
}

.p-l-45 {
    padding-left: 45px;
}

.p-t-45 {
    padding-top: 45px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-20 {
    padding-top: 20px;
}

.t-center {
    text-align: center;
}

.s-text8, .s-text8 a {
    // font-family: Montserrat-Regular;
    font-size: 13px;
    color: #888888;
    line-height: 1.8;
}

.p-l-20 {
    padding-left: 20px;
}

.p-t-8 {
    padding-top: 8px;
}

.p-b-8 {
    padding-bottom: 8px;
}

.p-l-10 {
    padding-left: 10px;
}

//hamburger
.hamburger:hover {
    opacity: 0.7;
}
.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.hamburger--squeeze.is-active .hamburger-inner {
    transition-delay: .14s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(
45deg
);
}
.hamburger--squeeze .hamburger-inner {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: .1s;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000;
}
.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}

.hamburger--squeeze.is-active .hamburger-inner:before {
    top: 0;
    transition: top .1s ease,opacity .1s ease .14s;
    opacity: 0;
}
.hamburger--squeeze .hamburger-inner:before {
    transition: top .1s ease .14s,opacity .1s ease;
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: '';
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000;
}

.hamburger--squeeze .hamburger-inner:after {
    transition: bottom .1s ease .14s,transform .1s cubic-bezier(.55,.055,.675,.19);
}
.hamburger-inner:after {
    bottom: -10px;
}
.hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: '';
}

.hamburger--squeeze.is-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom .1s ease,transform .1s cubic-bezier(.215,.61,.355,1) .14s;
    transform: rotate(-90deg);
}
