@import '~antd/dist/antd.css';
#components-layout-demo-fixed-sider .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
    background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

.ant-form-item-explain.ant-form-item-explain-error div {
    float: left;
}

.site-layout-background {
    min-height: 100vh;
}

.custom-title {
    float: left;
    padding: 25px 0px;
    font-weight: 200;
    font-size: 25px;
}

.text-white{
    color: #fff !important;
}
